@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome(勾选清除缓存666)</h1>
    <br />
    <a asp-action="File">上传文件</a>
    <br />
    @{
        foreach (var item in ViewBag.Files)
        {

            <img src="@item" style="width:100%;max-width:600px" /><br /><hr />
        }
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
